<app-header></app-header>
<section class="form-section">
  <br><br><br><br><br><br><br><br>
  <div *ngIf="mostraLogin; else titleCadastro">
    <h1>LOGIN</h1>
  </div>
  <ng-template #titleCadastro>
    <h1>Cadastrar</h1>
  </ng-template>

  <div>
    <div *ngIf="mostraLogin; else mostrarCadastro">
      <form [formGroup]="formLogin" (submit)="login()">
        <div class="input-block">
          <label for="login-email">Email</label>
          <input formControlName="email" type="email" id="login-email" />
        </div>
        <div class="input-block">
          <label for="login-password">Password</label>
          <input formControlName="password" type="password" id="login-password" />
        </div>
        <button type="submit" class="btn-login point" [disabled]="formLogin.invalid">Login</button>
        <button type="button" class="btn-cadastrar point" (click)="formCadastrar()">Cadastrar</button>
      </form>
    </div>

    <ng-template #mostrarCadastro>
      <form [formGroup]="formCreate" (submit)="cadastrar()">
        <div class="input-block">
          <label for="login-email">Email</label>
          <input formControlName="email" type="email" id="create-email" />
        </div>
        <div class="input-block">
          <label for="login-password">Password</label>
          <input formControlName="password" type="password" id="create-password" />
        </div>
        <button type="submit" class="btn-cadastrar point">Cadastrar</button>
      </form>
      </ng-template>
  </div>
</section>
<app-footer></app-footer>