<app-header></app-header>
<section class="form-section">
    <br><br><br><br><br><br><br><br>
    <h1>LOGIN</h1>

    <div>
      <form [formGroup]="formLogin" (submit)="login()">
        <div class="input-block">
          <label for="login-email">Email</label>
          <input formControlName="email" type="email" id="login-email"/>
        </div>
        <div class="input-block">
          <label for="login-password">Password</label>
          <input  formControlName="password" type="password" id="login-password"  />
        </div>
        <button type="submit" class="btn-login point" [disabled]="formLogin.invalid">Login</button>
      </form>
    </div>
  </section>
<app-footer></app-footer>